/* FORM */
label {
    padding: 2px;
    font-size: 1em;
  }
  
  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }
  
  input {
    min-height: 80px;
    width: 100%;
    box-sizing: border-box;
  }
  
  textarea {
    min-height: 80px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 10px 20px 10px 40px;
  }
  
  .indicador {
    padding: 10px;
    font-size: 1em;
    color: green;
  }
  
  .containerInput {
 
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    min-height: 160px;
  }
  
  .containerButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  /*ERROR OUTPUT*/
  .error-message {
    padding: 10px;
    background-color: darkred;
    color: white;
    font-size: 1em;
    margin: 4px;
    width: 90%;
    border-radius: 8px;
  }
  
  .delete {
    background-color: rgb(161, 15, 15);
  }
  
  .delete:hover {
    background-color: rgb(250, 23, 23);
  }
  
  /* Media Queries */
  @media screen and (max-width: 600px) {
    form {
      flex-direction: column;
    }
  
    .containerInput {
      width: 100%;
    }
  
    .containerButton {
      width: 100%;
    }
  }